<section id="about" class="features">
  <div class="features__container">
    <div class="features__content features__content--reverse"">
      <div class="features__item features__text">
        <h2 class="features__title">Transform your brand</h2>
        <p class="features__descr">
          We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through
          compelling visuals that do most of the marketing for you.
        </p>
        <a href="#" class="features__link features__link--yellow">LEARN MORE</a>
      </div>
      <div class="features__item features__img features__img--egg"></div>
    </div>
    <div class="features__content">
      <div class="features__item features__img features__img--glass"></div>
      <div class="features__item features__text">
        <h2 class="features__title">Stand out to the right audience</h2>
        <p class="features__descr">
          Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll
          build and extend your brand in digital places.
        </p>
        <a href="#" class="features__link features__link--red">LEARN MORE</a>
      </div>
    </div>
    <div class="features__content">
      <div class="features__item features__category features__category--green features__img features__img--cherry">
        <h3 class="features__category-title">Graphic Design</h3>
        <p class="features__category-descr">
          Great design makes you memorable. We deliver artwork that underscores your brand message and captures
          potential clients’ attention.
        </p>
      </div>
      <div class="features__item features__category features__category--blue features__img features__img--orange">
        <h3 class="features__category-title">Photography</h3>
        <p class="features__category-descr">
          Increase your credibility by getting the most stunning, high-quality photos that improve your business image.
        </p>
      </div>
    </div>
  </div>
</section>
