<header class="header header--position">
  <div class="header__container flex">
    <a href="#">
      <img class="header__logo" src="./img/logo.svg" alt="Logo" />
    </a>
    <nav class="nav" data-menu>
      <ul class="nav__list list-reset flex">
        <li class="nav__item"><a href="#about" class="nav__link" data-menu-link>About</a></li>
        <li class="nav__item"><a href="#services" class="nav__link" data-menu-link>Services</a></li>
        <li class="nav__item"><a href="#projects" class="nav__link" data-menu-link>Projects</a></li>
        <li class="nav__item"><button class="btn-reset header__btn" data-menu-link>Contact</button></li>
      </ul>
    </nav>
    <button class="btn-reset header__burger" data-burger>
      <img src="./img/burger.svg" alt="Burger" />
    </button>
  </div>
</header>
