<section id="services" class="reviews">
  <div class="reviews__container">
    <h2 class="reviews__title">CLIENT TESTIMONIALS</h2>
    <div class="reviews__content">
      <div class="reviews__item">
        <img src="./img/emily.png" alt="Emily" class="reviews__author-image">
        <p class="reviews__text">
          We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.
        </p>
        <div class="reviews__author">
          <h3 class="reviews__author-name">Emily R.</h3>
          <p class="reviews__author-position">Marketing Director</p>
        </div>
      </div>
      <div class="reviews__item">
        <img src="./img/thomas.png" alt="Thomas" class="reviews__author-image">
        <p class="reviews__text">
         Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience.
        </p>
        <div class="reviews__author">
          <h3 class="reviews__author-name">Thomas S.</h3>
          <p class="reviews__author-position">Chief Operating Officer</p>
        </div>
      </div>
      <div class="reviews__item">
        <img src="./img/jennie.png" alt="Jennie" class="reviews__author-image">
        <p class="reviews__text">
         Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!
        </p>
        <div class="reviews__author">
          <h3 class="reviews__author-name">Jennie F.</h3>
          <p class="reviews__author-position">Business Owner</p>
        </div>
      </div>
    </div>
  </div>
</section>